*{
    padding: 0;
    margin: 0;
}


.container{
    display: grid;
    grid-template-columns: repeat(1, 1rf);
    grid-template-rows: repeat(14, auto);
    grid-gap: 1px;
    grid-template-areas:"head"
                        "main"
                        "footer";
}

.header{
    grid-area: head;
    display: grid;
    grid-template-columns: repeat(7,14.4%);
    grid-gap: 1px;
    
}
.nav{
    background: gray;
    display: flex;
    justify-content: center;
    padding: 40px;

}
.button{
    border: 0px;
    padding: 10px 40px;
}

.main{
    
}
